<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}">
</head>
<body>
    <div class="container">
        <h2>Meat Souk</h2>
        <form class="otp-form" method="POST" action="{% url 'forgotpassword' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Enter your Email address</label>
                <input type="email" id="email" name="email" placeholder="youremail@gmail.com" required>
            </div>
            <button type="submit" class="btn">SEND OTP</button>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
            {% if message %}
                <p class="success">{{ message }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
